[Unit]
Description=Samantha chat server
PartOf=samweb.target

[Service]
Type=simple
ExecStart=/usr/local/bin/samweb.sh chat local

[Install]
WantedBy=samweb.target
