[Unit]
Description=Samantha http server
PartOf=samweb.target

[Service]
Type=simple
ExecStart=/usr/local/bin/samweb.sh http

[Install]
WantedBy=samweb.target
