
.parent {
	display: grid;
	height: 100vh;
	grid-template: auto 1fr auto / auto 1fr auto;
	overflow:hidden;
}

header {
	padding: 2rem;
	grid-column: 1 / 4;
}

.left-side {
	grid-column: 1 / 2;
}

main {
	background:lightblue;
	grid-column: 2 / 3;
}

.right-side {
	grid-column: 3 / 4;
}

footer {
	grid-column: 1 / 4;
	margin:0;
}
