RewriteEngine On
# if no file is specified, look for this files in this order
DirectoryIndex index.php index.html
# Append .php to each service request.
RewriteRule ^svc svc.php
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/voyccom/webprod/samantha/samantha"
PassengerBaseURI "/"
PassengerPython "/home/voyccom/virtualenv/webprod/samantha/samantha/3.7/bin/python3.7"
PassengerAppLogFile "/home/voyccom/logs/user/samantha.py.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
